@tailwind base;
@tailwind components;
@tailwind utilities;

.inputBox {
  border: solid 1px;
  margin: 15px;
}

.myButton {
  border: solid 1px red;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 5px;
}
.mypageDiv,
label {
  display: block;
  margin: 5px;
}
.mypageDiv,
input {
  border: solid 1px;
  margin-left: 10px;
}
.mypageDiv{
    border: solid 2px red;
    display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px 0 0 20px;

}
